################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Services/Catelog/Catelog.API/bin/Debug/net5.0
/Services/Catelog/Catelog.API/obj
